body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.app {
	padding: 10px;
}

.box {
	background-color: purple;
	width: 200px;
	height: 200px;
	border-radius: 6px;
	text-align: center;
	color: white;
	margin: 1rem auto;
}
